

#name{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.user-card{
    height: 50vh;
    width: 40vw;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1px;
}